<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | English Grammar </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/englishgrammar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('sidenavbar') %>
    <div class="main-content  mt-5">
        <div class="head ">
            <h3 class=" ">English Grammar learning </h3>
            <!-- <p> To learn grammar is to unlock the structure of language,<br>
                 forging pathways to clear communication and deeper comprehension...</p> -->
         
                <!-- <a href="/wordaudio">
                    <button>
                        Words and Letters Audio Generate
                    </button>
                </a> -->
            
           </div>
          
      <section class="part1">
       
        <div class="firstone">
            <h3>1.Subject-Verb Agreement</h3>
            <p class="p">Subject-verb agreement means that a subject and its verb must be both singular or both plural: A singular subject takes a singular verb. A plural subject takes a plural verb.</p>
            <a href="/subjectverb" class="button">Get started</a>
        </div><br> 
        <div class=" secondone">
            <h3>2.Punctuation</h3>
            <p class="p">Punctuation organizes thoughts and facilitates sharing ideas. Standard English punctuation includes: period, comma, apostrophe, quotation, question mark, exclamation mark, brackets, braces, parenthesis, dash, hyphen, ellipsis, colon, and semicolon.</p>
            <a href="/punctuation" class="button">Get started</a>
        </div>
        <div class="firstone fourone">
            <h3>3.Tense Usage</h3>
            <p class="p">We use past tense to write about the past. We use present tense to write about facts, opinions, or things that happen regularly. We use future tense to write about future events.</p>
            <a href="/tenselearning" class="button">Get started</a>
        </div><br> 
        <!-- <div class=" secondone">
            <h3>4.Word Order</h3>
            <p class="p">The way words are arranged in a sentence is called 'word order'. Word order is a part of syntax because it determines how different kinds of sentences are formed. The wrong word order will result in confusion, unclear sentences, and incorrect meanings.</p>
            <a href="/subjectverb" class="button">Get started</a>
        </div> -->
     
      </section>
</div>
</body>
</html>
