<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>G-Fluent | Home </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="navbar" id="navbar">
      <h2>G-Fluent</h2>
      <nav >
        <ul>
          <li><button><i  class="fa">&#xf090;</i> <a href="/login">Login</a> | <a href="/signup">SignUP</a></button></li>
        </ul>
      </nav>
    
    </div>
  </header>
   <div class="introbox">
    <div class="intro" id="intro">
      <img src="img/index/intro.png" alt="" height="500px" class="imgani">
      <div class="overlay">
      <h2>
        Your Personalized AI-Powered <br> Language Learning Companion
      </h2>
      <p>Empower your language learning journey with our AI-driven interactive tool. <br> Personalized exercises,
        corrections, and dialogues tailored to your pace.</p>
     
      </div>
    </div>
  </div>
    <div class="maincontent">
      <div class="features">
        <p> Features</p>
      </div>
    <div class="content">
      <div class="heading">
        <p class="p"> Features</p>
      </div>
      
      <section class="part1">
       
        <div class="firstone">
          <h2>Alphabet Mastery</h2>
          <img src="img/index/words.jpg" alt=""  class="images">
          <p>Engaging exercises, pronunciation practice, songs, progress tracking, and personalized recommendations for beginner language learners.</p>
          <button class="btn btn-outline-info"><a href="/">Get Started</a></button>
        </div>
        <div class="secondone">
          <h2>Vocabulary Practice</h2>
          <img src="img/index/Vocabulary.png" alt="" class="images">
          <p>Utilize NLP for efficient word categorization, definition association, and image-word correlation in engaging vocabulary exercises.</p>
          <button class="btn btn-outline-info"><a href="/">Get Started</a></button>
        </div>
      </section>
      <section class="part2">
        <div class="firstone">
          <h2>Grammar Mastery</h2>
          <img src="img/index/grammer.png" alt=""  class="images">
          <p>Leverage NLP's power to identify errors, extract grammar rules, and generate diverse sentence structures in dynamic grammar exercises.</p>
          <button class="btn btn-outline-info"><a href="/">Get Started</a></button>
        </div>
        <div class="secondone">
          <h2>Speaking Practice </h2>
          <img src="img/index/speakingbot.png" alt="" class="images">
          <p>Engage in realistic conversations, receive pronunciation feedback, and explore role-play scenarios with NLP-driven speaking exercises.</p>
          <button class="btn btn-outline-info"><a href="/">Get Started</a></button>
        </div>
      </section>
    </div>




  </div>


<footer>
<p>  © 2024 <a href="/">G-FLUENT</a> | DESIGNED AND DEVELOPED BY NEXUS </p>
</footer>


</body>

</html>