<nav class="navbar">
  <div class="logo_item">
    <span><%= title %> </span>
    <% if(username) { %>
      <span class="ml-5">Welcome, <%= username %> </span>
    <% } %>
  </div>
  <div class="navbar_content">
    <!-- <i class="fa fa-bell"></i> -->
  </div>
</nav>
  
<input type="checkbox" id="check">
<label for="check">
  <i class="fa fa-angle-double-right	" id="btn"> </i>
  <i class="fa fa-angle-double-left	" id="cancel"></i>
</label>
<div class="sidebar">
  <header><%= title %></header>
  <a href="/dashboard" class="active">
    <i class="fas fa-qrcode"></i>
    <span>Dashboard</span>
  </a>
  <a href="/alphabets">
    <i class="fa-solid fa-spell-check"></i>
    <span>Alphabets</span>
  </a>
  <a href="/Vocabulary">
    <i class="fa-solid fa-language" ></i>
   <span>Vocabulary</span>
 </a>
  <a href="/grammar">
    <i class="fa-brands fa-leanpub"></i>
    <span>Grammar</span>
  </a>
  <a href="/g-ai">
    <i class="fa-solid fa-robot"></i>
        <span>G-AI</span>
  </a>
  <!-- <a href="/alphabets">
    <i class="fa-solid fa-book-open"></i>
    <span>Alphabets</span>
  </a> -->
  <a href="/Profile">
    <i class="fa fa-user"></i>
    <span>Profile</span>
  </a>
  <a href="/logout">
    <i class="fa fa-sign-out"></i>
    <span>Log out</span>
  </a>
</div>
<script src="https://kit.fontawesome.com/181ea7bd20.js" crossorigin="anonymous"></script>