<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> | Signup
    </title>
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</head>

<body>


    <div class="main-content">
        <div class="main">
            <form action="/signup" method="post">
                <div class="name">
                    <label for="Username:">Username:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="age">
                    <label for="age">Age:</label>
                    <input type="number" name="Age" id="Age">
                </div>
                <div class="email">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="password">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="button">
                    <button type="submit" class="btn">Sign Up</button>
                </div>
                <div class="login">
                    <p>I have already an account <a href="/login">Login</a></p>
                </div>
                <div class="button">
                   <a href="/" class="btn">Back</a>
                </div>
            </form>

        </div>
    </div>



</body>

</html>